/*insert style here*/
body, html {
    width: 100%;
    height: 100%;
  }
.modal-body{
  overflow-y: auto;
}
.modal-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h5{
  font-weight: bolder;
}

a{
  color: black;
}

text{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#UpperTitleBorder{
    background-color: black;
    height: 2%;
}
#MapTitle{
    background-color: #6495ED;
    height: 8%;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 5px;
}

#sidebar{
    background-color: 
    #a3c1f5;
    height:100%;
    padding: 0%;
}

#yearSelection{
    margin-top: 5%;
    background-color: #6495ED;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#yearcard{
    border-radius: 0%;
    background-color: #6495ED;
}
.btn-year{
    background-color: #a3c1f5; /* Green background */
    color: black; /* White text */
    float: left; /* Float the buttons side by side */
    height: 50px;
    border-color: #6495ED;
    border-radius: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  .btn-type{
    background-color: #a3c1f5; /* Green background */
    color: black; /* White text */
    float: left; /* Float the buttons side by side */
    height: 50px;
    border-color: #6495ED;
    border-radius: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  #crimeType{
    background-color: #6495ED;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;
  }

  #typeMenu{
      border-radius: 0%;
      background-color: #6495ED;
      border: 0px;
  }

  #newsButton{
    background-color: #6495ED;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;
  }

  #aboutButton{
    background-color: #6495ED;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;
  }

  #collapseChart{
    /* position: absolute; */
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-color: #a3c1f5;
  }
  #map{
    border-left: 3px solid black;
    background-color: white;
  }

  .precincts{
    pointer-events: auto!important;
  }

.info {
  padding: 6px 8px;
  font: 14px/16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background:#6495ED;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  opacity: 0.8;
}
.info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin: 0 0 5px;
  color: black;
  
}
.legend {
  line-height: 18px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#popup{      
  position: absolute;
  /* height: 200px; */
  width: 300px;
  fill:#a3c1f5;
  opacity: 0.9;
  stroke: white;
  stroke-width: 3;
}

#chartTitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold
}

.step{
  background-color: white;
  opacity: 0.5;
  color: black;
  border-radius: 6px;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.range-slider {
  -webkit-appearance: none;
  margin: 10px;
  height: 10px;
  background: whitesmoke;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #6495ED;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #6495ED;
  cursor: pointer;
}

.tick{
  font-weight: bold;
}
