/*insert style here*/
body, html {
    width: 100%;
    height: 100%;
  }
#UpperTitleBorder{
    background-color: black;
    height: 2%;
}
#MapTitle{
    background-color: #6495ED;
    height: 8%;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 5px;
}

#sidebar{
    background-color: #6495ED;
    height:100%;
    padding: 0%;
}

#yearSelection{
    margin-top: 5%;
    background-color: #4169E1;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#yearcard{
    border-radius: 0%;
    background-color: #6495ED;
}
.btn-year{
    background-color: #6495ED; /* Green background */
    color: black; /* White text */
    float: left; /* Float the buttons side by side */
    height: 50px;
    border-color: #4169E1;
    border-radius: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  .btn-type{
    background-color: #6495ED; /* Green background */
    color: black; /* White text */
    float: left; /* Float the buttons side by side */
    height: 50px;
    border-color: #4169E1;
    border-radius: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  #crimeType{
    background-color: #4169E1;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;
  }

  #typeMenu{
      border-radius: 0%;
      background-color: #6495ED;
      border: 0px;
  }

  #newsButton{
    background-color: #4169E1;
    height: 40px;
    padding: 0%;
    width: 100%;
    border-radius: 0%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 5%;
  }

  #collapseChart{
    /* position: absolute; */
    border: 3px solid black;
    background-color: white;
  }
  #map{
    border-left: 3px solid black;
    background-color: white;
  }

  .precincts{
    pointer-events: auto!important;
  }
  .infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: 5px;
    border-color: #6495ED;
    padding: 5px 10px;
    margin-left: 80%;
    z-index: 2;
    /* top: 0px;
    right: 0px; */
}

h1{
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
  color: white
}


